<template lang="pug">
.container
  v-card
    v-card-title {{ title }}
    v-slider.align-center(v-model="progress", min=0, max=100, type="number")
</template>

<script>
export default {
  id: 'task',
  data () {
    return {
      title: 'hoge',
      progress: 0
    }
  },
  methods () {

  }
}
</script>
