<template lang="pug">
.container
  v-card#timer(grid-list-xs)
    v-card-text(align-center, headline, font-weight-light)
      div#timer-text {{timerString}}
    v-card-actions
        v-col(justify-center, align="center")
          v-btn(@click.stop='startTick', color="primary", small) Start
          v-btn(@click.stop='stopTick', color="primary", small) Stop
          v-btn(@click.stop='reset', color="primary", small) Reset
</template>

<style lang="stylus">
#timer-text
  font-size 120%
</style>

<script>
const timerResolution = 1 / 100

export default {
  id: 'timer',
  data () {
    return {
      currentSeconds: 0.0,
      $_timer_defaultTime: 0.0,
      onEndCallbacks: null,
      $_timer_timerHandler: null,
      $_timer_previousMilliseconds: 0
    }
  },
  computed: {
    timerString () {
      const ceiledSeconds = Math.ceil(this.currentSeconds)
      const minutes = Math.floor(ceiledSeconds / 60)
      const seconds = Math.floor(ceiledSeconds % 60)
      return minutes.toString() + ':' + seconds.toString().padStart(2, '0')
    }
  },
  mounted () {
    this.$nextTick(function () {
      this.setTimerCount(300)
      // this.$el がドキュメント内にあることを前提としたコードを書きます
    })
  },
  methods: {
    setEndCallback (...callbacks) {
      this.onEndCallbacks = callbacks
    },
    $_timer_tick () {
      const currentMilliseconds = Date.now()
      const deltaSeconds = (currentMilliseconds - this.$_timer_previousMilliseconds) / 1000.0
      this.currentSeconds -= deltaSeconds
      this.$_timer_previousMilliseconds = currentMilliseconds
      if (this.currentSeconds <= 0.0) {
        this.$_timer_callOnEndCallback()
        this.stopTick()
      }
    },
    $_timer_callOnEndCallback () {
      this.onEndCallbacks.forEach((callback) => {
        callback()
      })
    },
    $_timer_registInterval () {
      const _this = this
      _this.$_timer_timerHandler = setInterval(() => {
        _this.$_timer_tick()
      }, 1 / timerResolution)
    },
    startTick () {
      if (this.$_timer_timerHandler == null) {
        // avoid missing reference
        const _this = this
        this.$_timer_previousMilliseconds = Date.now()
        const nextTimeout = Math.ceil(this.currentSeconds) - this.currentSeconds
        if (nextTimeout < timerResolution) {
          this.$_timer_timerHandler = setTimeout(() => {
            _this.$_timer_tick()
            _this.$_timer_registInterval()
          }, nextTimeout * 1000)
        } else {
          _this.$_timer_registInterval()
        }
      }
    },
    stopTick () {
      if (this.$_timer_timerHandler != null) {
        this.$_timer_tick()
        clearInterval((this.$_timer_timerHandler))
        this.$_timer_timerHandler = null
      }
    },
    reset () {
      this.stopTick()
      this.currentSeconds = this.$_timer_defaultTime
    },
    setTimerCount (time) {
      this.currentSeconds = time
      this.$_timer_defaultTime = time
    }
  }
}
</script>
