<!--
<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <div class="text-center">
        <timer-card />
      </div>
    </v-flex>
  </v-layout>
</template>
-->
<template lang="pug">
  v-layout(column, justify-center, align-center)
    v-flex(xs12, sm8, md6)
      div.text-center
        task-card
</template>

<script>
// import TimerCard from '~/components/TimerCard.vue'
import TaskCard from '~/components/TaskCard.vue'

export default {
  components: {
    TaskCard
  }
}
</script>
